
a{
  color:#444;
}

a:hover {
  color: #900;
  text-decoration: none;
}

body{
  font-family: 'Raleway', sans-serif;
  padding: 5%;
  background-color: #000;
}

img:hover{
  color: #ccc;
}

div.navbar{
  height: 100%;
}
